Fluxos/Assistente_de_Agendamento_de_Programacao_Argamassa.json
{
  "name": "Assistente_de_Agendamento_de_Programacao_Argamassa",
  "nodes": [
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202502,
      "position": [
        80,
        1040
      ],
      "id": "48a4da7d-13ab-414b-b7c2-1b8eae6497d2",
      "name": "WAHA Trigger",
      "webhookId": "64a2de0e-e41b-4597-9610-0d3084570a81"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ESTA É A CONVERSA: {{ $json.msg }}",
        "options": {
          "systemMessage": "=\n🎭 Função do Assistente:\nVocê é um Assistente de Análise de Mensagens que avalia cada mensagem do cliente para determinar se ela precisa:\n➤ Fazer uma reserva ou agendamento de entrega de Argamassa.\n\nSua resposta determinará o fluxo no n8n:\n\n“VERDADEIRO” → O fluxo continua.\n\n“FALSO” → O fluxo termina.\n\n📜 Instruções:\n\nAnalise a mensagem do cliente.\n\nSe a mensagem mencionar:\n\nReserva,\n\nAgendamento,\n\nProgramação ou cronograma de entrega,\n\nE estiver relacionada à Argamassa, responda apenas com \"VERDADEIRO\".\n\nSe a mensagem não mencionar reserva/agendamento ou for sobre outro material (como concreto), responda apenas com \"FALSO\".\n\nSe o cliente mudar de ideia no meio da conversa e decidir agendar Argamassa, responda \"VERDADEIRO\" e continue nesse modo até o assistente responsável concluir o processo.\n\nEnquanto o assistente responsável estiver ativo, continue respondendo \"VERDADEIRO\" para todas as mensagens subsequentes.\n\nQuando o assistente responsável terminar, pare de responder \"VERDADEIRO\".\n\n⚠️ Regras Importantes:\n\nNão responda com qualquer outra palavra ou frase.\n\nApenas com: \"VERDADEIRO\" ou \"FALSO\".\n\nNão explique nem confirme a resposta.\n\nNão altere \"FALSO\" para \"VERDADEIRO\" se a mensagem não contiver agendamento ou reserva de Argamassa.\n\n\n👤 Cliente: “Quero agendar a entrega da argamassa para amanhã.”  \n🤖 Assistente: \"VERDADEIRO\"  \n\n👤 Cliente: “Pode ser à tarde.”  \n🤖 Assistente: \"VERDADEIRO\"  \n\n👤 Cliente: “Meu nome é Márcio Azevedo.”  \n🤖 Assistente: \"VERDADEIRO\"  \n\n👤 Cliente: “Pronto, isso seria tudo.” (assistente responsável finaliza)  \n🤖 Assistente: (para de responder \"VERDADEIRO\")  \n\n👤 Cliente: “Olá, como vai?”  \n🤖 Assistente: “FALSO”  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1780,
        1100
      ],
      "id": "93ca8ea4-8f13-4213-88c7-8a634e813e40",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1720,
        1320
      ],
      "id": "5c5b2388-6521-492b-b084-c213ba723504",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "P34Q5LzomCLBCF7A",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Captura_Mensagem').item.json.from }}",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        1880,
        1380
      ],
      "id": "66b872f4-8642-469c-9f61-8cb95768354d",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "R3gMrcjTPNyFGMqg",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "65488564-5597-4a2c-af01-5f0d0cf99ea4",
              "leftValue": "={{ $json.output }}",
              "rightValue": "VERDADEIRO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2220,
        1100
      ],
      "id": "113f47d6-55f3-4e12-8ef3-7ae3c35591d2",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2460,
        1080
      ],
      "id": "95a89788-56e9-47bc-adfe-529aa3fe1d60",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3989ec24-1261-4f59-982b-72fd06198381",
              "name": "from",
              "value": "={{ $('Captura_Mensagem').item.json.from.substring(2,4) }}9{{ $('Captura_Mensagem').item.json.from.substring(4,12) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        1080
      ],
      "id": "f6beee20-2ffe-45ae-92b5-9ee1d307060c",
      "name": "Formata_Telefone"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e065f4e-b646-47f4-8f62-4c009c10e2e5",
              "name": "session",
              "value": "={{ $json.session }}",
              "type": "string"
            },
            {
              "id": "a3676208-8493-466e-b2a9-8e885b39f338",
              "name": "from",
              "value": "={{ $json.payload.from }}",
              "type": "string"
            },
            {
              "id": "5f23231d-a6ef-48b3-9054-040167eb8868",
              "name": "mensagem",
              "value": "={{ $json.payload.body }}",
              "type": "string"
            },
            {
              "id": "d7bdbe94-1d95-4eaf-99fb-3ab202ca4706",
              "name": "id_mensagem",
              "value": "={{ $json.payload.id }}",
              "type": "string"
            },
            {
              "id": "a4bcff2c-16a7-4455-bf70-e8dc5ef2ad2a",
              "name": "messageType",
              "value": "={{ \n    $json.payload.hasMedia \n        ? ($json.payload.media.mimetype.startsWith(\"image\") \n            ? \"image\" \n            : ($json.payload.media.mimetype.startsWith(\"audio\") \n                ? \"audio\" \n                : \"other_media\")) \n        : \"text\"\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        1040
      ],
      "id": "2068fcf6-7417-433a-bd15-3c741aa75b5a",
      "name": "Captura_Mensagem"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "chatId": "={{ $json.from }}",
        "messageId": "={{ $json.id_mensagem }}",
        "participant": "",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1080,
        1020
      ],
      "id": "2a41d520-a5eb-4f88-af4e-efc8889867e6",
      "name": "Marca_Visualizacao",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://integration.readymix.io/api/sync/projects?contact_phone_number={{ $('Formata_Telefone').item.json.from }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2460,
        1340
      ],
      "id": "bb48c138-5308-44ca-a43f-ad2f3db00a6d",
      "name": "Loop_Project_ContactPhoneNumber",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cxexuqhR4R8NRjo6",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=mensagem: {{ $('Captura_Mensagem').item.json.mensagem }};\ndata e hora atuais: {{ $('Date & Time').item.json.currentDate }}\nnome do cliente: {{ $('WAHA Trigger').item.json.payload._data.pushName }}\n",
        "options": {
          "systemMessage": "=🎭 Papel do Assistente\nVocê é o Celim, assistente virtual especializado em logística da Pedreira Um Valemix.\nSua principal função é atuar como intermediário entre os clientes e a equipe de logística, garantindo que:\n\nCumprimentar de forma adequada ao contexto, mantendo um tom respeitoso e natural.\nVocê imita a maneira de falar e escrever da pessoa que estava atendendo o cliente antes de agir. Se o cliente usar linguagem formal, ela permanece a mesma. \nSe ele usar abreviaturas ou um tom mais descontraído, adapte.\nOriente o cliente através do processo apropriado com base em sua solicitação.\nMantenha a consistência na comunicação para que a transição entre humano e assistente seja imperceptível.\n\nSe o cliente enviar todas as informações de uma só vez ou antecipar informações das etapas seguintes, NÃO faça as perguntas correspondentes novamente. Em vez disso, extraia, valide e siga para a próxima etapa.\n\n🛑 Antes de iniciar o fluxo:\n\n- Analise a mensagem recebida e veja se o cliente já informou algum dos seguintes dados:  \n    - Projeto  \n    - Data de entrega  \n    - Hora de entrega  \n    - Quantidade  \n    - Tipo de argamassa  \n    - Tipo de serviço de descarga  \n\n- Se o dado estiver presente, armazene no campo correspondente e NÃO faça a pergunta.\n\n- Se algum dado não estiver presente, faça a pergunta conforme o fluxo abaixo.\n\n- Sempre confirme todos os dados antes de registrar.\n\n- Nunca repita uma pergunta para um dado que já foi informado.\n\n- Se a lista de projetos ou produtos for somente um não pergunte, apenas informe qual sera usado. Caso o cliente deseje mudar orienta a entrar em contato com vendedor.\n\n- Sempre encaixe o agendamento entre 08:00 horas ate 16:00 horas\n\n- Se o cliente citar algo de caixote, caixote de argamassa, caixas, caixas de argamassas salve a mensagem em {customer_notes}\n\n📌 Etapa 1: Identificação do Projeto.\n\nProjetos associados ao cliente: \n{{ $('Code2').item.json.projetos.map((p, i) => \n\n`${i + 1}. Projeto: ${p.projectName} \n\tCodigo do Projeto: ${p.projectCode}\n\tCodigo do Cliente: ${p.customerCode}\n\tCodigo do Endereço: ${p.addressCode}\n    Endereço Completo: ${p.addressFull}\n    Traços: \n${p.products\n  .map((t, x) => \n`       ${x + 1}. Traço: ${t.productName}\n          Codigo: ${t.productCode}\n          Preço: ${t.productPrice}`).join('\\n')}\n` \n) }}\n\nQuando for responder ao cliente liste somente os nomes dos projetos, os demais dados serão usados somente em {placeholder}, não precisa informar para o cliente.\nSo listar os projetos quando tiver mais de um.\nSe houver apenas um projeto associado, não liste ao cliente. Informe qual será usado e siga automaticamente para a próxima etapa.\n\n1️⃣ Caso o cliente tenha projetos cadastrados → Peça para ele selecionar o projeto.\n\nSempre listar os projetos quando tiver mais de um.\n\nApos selecionar armazene o nome em [data_projectname], o codigo em [data_projectcode]\n\nConsiderar o fluxo da programação em questão somente os dados do projeto selecionado.\n\nSalve o endereço completo do projeto selecionado em [addressFull] e apresente no momento da confirmação do pedido\n\n2️⃣ Caso não tenha projetos cadastrados solicite que entre em contato com o vendedor.\n\n\n📌 Etapa 2: Coleta de dados.\nSolicite as seguintes informações:\n\n1️⃣ Data da entrega (data_entrega)\n🗓️ “Até que data você precisa receber o material?” \n\n(Verifique se é posterior à data atual.)\n\n(Salve a data e hora no  {placeholder} no formato americado YYYY-MM-DD HH:MM:SS e quando for exibir para o usuário na confirmação ultilize o formato brasileiro DD-MM-YYYY HH:MM:SS.)\n\n2️⃣ Prazo de entrega (data_hora)\n⏰ \"A que horas deseja receber o pedido?\"\n\n3️⃣ Quantidade em metros cúbicos (data_quantidade)\n🏗️ \"Quantos metros cúbicos você precisa?\"\n\n4️⃣ Tipo de argamassa (data_produto)\n🔎 Usar os produtos associado ao contrato selecionado, Liste enumerado.\n\nSalvar o preço do produto selecionado em (productPrice)\n\nSe houver apenas um traço, apenas informe ao cliente qual será utilizado e siga automaticamente para a próxima etapa.\n\nE lembre-se: quando for mostrar ao cliente, não exibir código ou preço, conforme já está na regra.\n\n📌 Etapa 3:Confirme com o cliente:\n\nVou lhe dar um resumo do seu pedido:\n\n📆 Entrega: [data_entrega] \n🕒 Hora: [data_hora]\n📍 Localização: [addressFull]\n📦 Quantidade: [data_quantidade] m³\n🏗️ Argamassa: [data_produto]\n\n\"Está tudo bem ou você quer modificar alguma coisa?\"\n\n📌 Etapa 4: Registre o pedido.\n\nCaso o cliente confirme, registre as informações. Para inserir os dados no banco de dados, utilize a ferramenta \"Readymix\".\n\nQuando for registrar o pedido ultilize o tool Mysql_GerarID para gerar um [plan_id].\n\n✅ Utilize emojis adequados para criar um tom próximo e acolhedor, mas mantendo a profissionalidade.\n\nVou lhe dar um resumo do seu pedido registrado:\n\n📆 Entrega: [data_entrega] \n🕒 Hora: [data_hora]\n📍 Localização: [addressFull]\n📦 Quantidade: [data_quantidade] m³\n🏗️ Argamassa: [data_produto]\n📌 ID do pedido: [plan_id]\n\n\nAcresente a mensagem abaixo:\n\n📌 Atenção aos horários de agendamento:\n\n⏰ Entregas pela manhã\n➡ Solicitar até às 16h do dia anterior.\n\n⏰ Entregas à tarde\n➡ Solicitar até às 10h do mesmo dia.\n\n⚠ Todos os agendamentos estão sujeitos à disponibilidade e só serão válidos após confirmação da equipe de programação.\n\n📞 Qualquer dúvida, estamos à disposição\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3060,
        1040
      ],
      "id": "d1a360bf-6088-4519-a8c4-9b0e9a54c3a9",
      "name": "Assist_IA"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3040,
        1260
      ],
      "id": "d693c32d-0dfa-438b-9af0-acdf825732b4",
      "name": "OpenAI Chat Model1",
      "notesInFlow": false,
      "credentials": {
        "openAiApi": {
          "id": "P34Q5LzomCLBCF7A",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Captura_Mensagem').item.json.from }}",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        3080,
        1400
      ],
      "id": "27fffcb9-5839-4e00-83d6-a8ac9324ee9d",
      "name": "Redis Chat Memory1",
      "credentials": {
        "redis": {
          "id": "R3gMrcjTPNyFGMqg",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        1040
      ],
      "id": "5e01b45e-40d1-4746-aa10-bd1dd375451f",
      "name": "Code1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Resposta a formatar:  {{ $json.output }}",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        3880,
        1020
      ],
      "id": "07123435-ae27-4c81-9d59-62f9cd675dc2",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {
          "prompt": "Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        3980,
        1280
      ],
      "id": "f2826c77-f915-4719-bc0d-8983bb99cecd",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3780,
        1300
      ],
      "id": "01a20829-e2bf-4385-a4b9-f4938a63599d",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "P34Q5LzomCLBCF7A",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"resposta\": \n    {\n      \"parte_1\": \"Conteúdo da primeira parte da resposta.\",\n      \"parte_2\": \"Conteúdo da segunda parte da resposta.\",\n      \"parte_3\": \"Conteúdo da terceira parte da resposta. (Opcional)\"\n    }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        4140,
        1400
      ],
      "id": "6cf0bd25-6e3f-4ac8-bc1f-317b47d947c8",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3940,
        1420
      ],
      "id": "ffb130ee-d90c-4eb2-930b-cb3cd2d2c75c",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "P34Q5LzomCLBCF7A",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3840,
        1820
      ],
      "id": "8135d9a8-8fcb-4fbc-8f33-7529a88b095d",
      "name": "Wait",
      "webhookId": "599097fb-2b9a-40b1-a4a9-75a7e3c85640",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "text": "={{ $('Basic LLM Chain').item.json.output.resposta.parte_1 }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        4140,
        1620
      ],
      "id": "4237478e-ec52-41ca-9918-c46d6f64d4c2",
      "name": "Resposta_Parte1",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "text": "={{ $('Basic LLM Chain').item.json.output.resposta.parte_2 }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        4140,
        1820
      ],
      "id": "0459a8d6-ecde-4825-9094-464ac2c0581d",
      "name": "Resposta_Parte2",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3700,
        2020
      ],
      "id": "9bada116-1fa3-450a-a4be-8f61872df3d2",
      "name": "Wait1",
      "webhookId": "785ebcd2-5b09-476b-839d-3c1a3ed24e38",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "text": "={{ $('Basic LLM Chain').item.json.output.resposta.parte_3 }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        3900,
        2020
      ],
      "id": "0d7285d0-2be4-4f7c-84b5-b81d28d9b7e8",
      "name": "Resposta_Parte3",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "text": "={{ $('AI Agent1').item.json.output }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        2520,
        1920
      ],
      "id": "748c16ea-3658-40d4-9f89-3adf4bfe60d4",
      "name": "Resposta_Parte",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ESTA É A CONVERSA: {{ $('Captura_Mensagem').item.json.mensagem }}",
        "options": {
          "systemMessage": "=🎭 Papel do Assistente:\nVocê é o Celim, assistente virtual do Grupo Pedreira Um Valemix.\n\nMantenha sempre a comunicação clara, educada e acolhedora, de forma que a transição entre humano e assistente seja imperceptível.\n\n➤ Quando a mensagem do cliente for uma saudação (como \"bom dia\", \"boa tarde\", \"olá\"):\n\nResponda de forma simpática e cordial, combinando com a saudação enviada.\n\n➤ Em seguida, pergunte de forma educada se ele deseja agendar uma entrega de Argamassa.\n\n➤ Se o cliente indicar que o assunto não é agendamento de Argamassa, oriente educadamente a entrar em contato através do telefone:\n📞 (31) 3847-2200.\n\n➤ Se for perguntar do agendamento aqui, pergunte somente sobre data, hora e quantidade de metros cubicos.\n\n➤ Sempre formate as respostas com quebra de linha para tornar a mensagem mais amigável e fácil de ler.\n\n➤ Utilize emojis adequados para criar um tom próximo e acolhedor, mas mantendo a profissionalidade.\n\nExemplos:\n\n👋 Olá! Tudo bem?  \n\nSou o Celim, assistente virtual do Grupo Pedreira Um Valemix. 😊  \n\nVocê gostaria de *agendar uma entrega de Argamassa*? 🛻💨  \n\nSe o seu assunto for outro, por gentileza, entre em contato com a nossa equipe pelo telefone:  \n📞 (31) 3847-2200.  \n\nEstou à disposição! "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2220,
        1680
      ],
      "id": "05d34581-6b16-4748-8fc0-3cf0a69fdd99",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2220,
        1880
      ],
      "id": "d576b096-7f3a-4b80-8adc-5d1873a987f7",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "P34Q5LzomCLBCF7A",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Captura_Mensagem').item.json.from }}",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        2360,
        1920
      ],
      "id": "64a165a3-5a11-4b6f-959e-5011855815ec",
      "name": "Redis Chat Memory2",
      "credentials": {
        "redis": {
          "id": "R3gMrcjTPNyFGMqg",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const projetos = items.flatMap(item => {\n  return item.json.data.page_items\n    .filter(p => {\n      const temARG = p.name.toUpperCase().includes(\" ARG \");\n      const temCR = p.project_product.some(prod => prod.product.name.toUpperCase().startsWith(\" CR \"));\n      return temARG || temCR;\n    })\n    .map(p => {\n      return {\n        projectName: p.name,\n        projectCode: p.code,\n        customerName: p.customer.name,\n        customerCode: p.customer.code,\n        customerDocument: p.customer.document,\n        addressCode: p.address.code,\n        addressStreet: p.address.address_street,\n        addressNumber: p.address.address_number,\n        addressDistrict: p.address.address_district,\n        addressComplement: p.address.address_complement,\n        addressPostal: p.address.postal_code,\n        addressFull: p.address.address_full,\n        addressState: p.address.state,\n        addressCity: p.address.city_name,\n        fav_plant: p.fav_plant,\n        products: p.project_product\n          .filter(t => t.product.name.toUpperCase().startsWith(\"CR\"))\n          .map(t => {\n            return {\n              productCode: t.product.code,\n              productName: t.product.name,\n              productPrice: t.price\n            };\n          })\n      };\n    });\n});\n\nreturn [\n  {\n    json: {\n      projetos: projetos\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        1080
      ],
      "id": "9ad9ffff-c446-4dd8-8988-ed124e826d37",
      "name": "Code2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "56e40aa3-df03-4a85-80cc-be68db3411a4",
              "leftValue": "={{ $json.payload.participant }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "cd4610d8-6a41-4ef7-99bd-15462a9a532b",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        540,
        1040
      ],
      "id": "8e2ad2da-be72-4ee9-8c8d-bb8053378725",
      "name": "Ignora grupo"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO n8n_pedidos (CLIENTE) VALUES('{{ $('Formata_Telefone').item.json.from }}');\n\nSELECT CONCAT('V', LPAD(CODIGO, 6, '0')) id FROM n8n_pedidos ORDER BY CODIGO DESC LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.4,
      "position": [
        3220,
        1400
      ],
      "id": "72c53e54-757d-428f-8d02-0113b263f93d",
      "name": "Mysql_GerarID",
      "credentials": {
        "mySql": {
          "id": "8xVruJPTkQyMMoAx",
          "name": "MySQL N8N"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.debugMessageType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7bfab073-e0ca-4d36-9e2a-817378e450a9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "615af114-9e88-4495-90d8-aceedd03a643",
                    "leftValue": "={{ $json.debugMessageType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e92e8ff9-cc7d-44a5-8e57-f6cb5fab020d",
                    "leftValue": "={{ $json.debugMessageType }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "51902449-461a-4875-a52b-024d21dea546",
                    "leftValue": "={{ $json.debugMessageType }}",
                    "rightValue": "other_media",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outro"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1000,
        1280
      ],
      "id": "7efd3b5f-4231-40e3-8a55-c4327482abed",
      "name": "Switch1",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "text": "={{ $('AI Agent2').item.json.output }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1140,
        1960
      ],
      "id": "a86a5c25-a5f8-4da9-8f40-9f39692b57ca",
      "name": "Resposta_Parte6",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a96e6489-94a1-44c0-a991-dcd6515596e3",
              "name": "debugMessageType",
              "value": "={{ $('Captura_Mensagem').item.json.messageType.replace(/\\n/g, \"\").trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        1240
      ],
      "id": "6ec17a8c-8822-42e5-a0e4-751a5a6b56f8",
      "name": "TipoMensagem1"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "text": "=Ola {{ $('WAHA Trigger').item.json.payload._data.pushName }}!\nAgradecemos o seu contato.\nVerificamos em nosso sistema e, até o momento, não localizamos nenhum projeto vinculado ao número de telefone informado como contato da obra.\nPara que possamos te auxiliar da melhor forma, orientamos que entre em contato diretamente com o seu vendedor responsável.\n\nSeguimos à disposição!",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        3060,
        1980
      ],
      "id": "6cd43a77-4945-40d0-92f5-83c833bc55fa",
      "name": "Resposta_Parte4",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1b8b8d23-7c82-4891-bbdf-2e2ee71eaac2",
              "leftValue": "={{ $json.data.total_items }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2680,
        1340
      ],
      "id": "455769ec-9c25-47e1-81c6-d0d35db8f18f",
      "name": "identificação de contato da obra"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ESTA É A CONVERSA: {{ $('Captura_Mensagem').item.json.mensagem }}",
        "options": {
          "systemMessage": "=A mensagem foi enviado em um formato que o agente não reconhece, responda informando ao cliente semelhante ao exemplo abaixo:\n\nNo momento não consigo entender esse tipo de mensagem. \nPoderia, por gentileza, enviá-la por escrito para que eu possa ajudá-lo da melhor forma?"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        540,
        1700
      ],
      "id": "77d0c5b5-3bad-4dad-ab8c-0d3bf688bbe4",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        540,
        1920
      ],
      "id": "fd95f68c-a526-4f89-adac-b30dd48b3518",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "P34Q5LzomCLBCF7A",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Captura_Mensagem').item.json.from }}",
        "sessionTTL": 60,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        700,
        1940
      ],
      "id": "c5a9e78b-cad7-43e2-aaba-2767c3adc1d5",
      "name": "Redis Chat Memory3",
      "credentials": {
        "redis": {
          "id": "R3gMrcjTPNyFGMqg",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.download_link }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        1940
      ],
      "id": "f3222b25-5690-4891-8ffd-95363e506905",
      "name": "Baixar_Audio1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1780,
        1660
      ],
      "id": "538d22f7-93ea-49b2-91cd-af318c93dee1",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "P34Q5LzomCLBCF7A",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2800,
        1680
      ],
      "id": "f34284b0-9d7d-4cb4-8227-4137fa2487ae",
      "name": "Wait2",
      "webhookId": "1c1fc343-ee9e-4749-93da-9d87093f8a91",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "Presence",
        "operation": "Set Presence",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "presence": "typing",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        2580,
        1680
      ],
      "id": "3bcd73e8-225e-4720-a124-efe2b8c4f567",
      "name": "WAHA1",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        940,
        1960
      ],
      "id": "e51e5714-a4f1-4794-a557-ba427c010081",
      "name": "Wait3",
      "webhookId": "1c1fc343-ee9e-4749-93da-9d87093f8a91",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "Presence",
        "operation": "Set Presence",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "presence": "typing",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1020,
        1700
      ],
      "id": "e2fe3975-690f-4b5f-98f8-f54b9093de28",
      "name": "WAHA2",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3280,
        1700
      ],
      "id": "b043e6c3-64c3-4f13-985d-aa8fd5dbff2a",
      "name": "Wait4",
      "webhookId": "1c1fc343-ee9e-4749-93da-9d87093f8a91",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "Presence",
        "operation": "Set Presence",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "presence": "typing",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        3080,
        1700
      ],
      "id": "a564cd2f-1892-450d-beb5-0404992b9483",
      "name": "WAHA3",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Presence",
        "operation": "Set Presence",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "presence": "typing",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        3540,
        1820
      ],
      "id": "659b2884-f768-4b18-ad30-82ce3340b539",
      "name": "WAHA4",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Presence",
        "operation": "Set Presence",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "presence": "typing",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        3520,
        1640
      ],
      "id": "a3135c16-a2c0-414a-9d9e-7d4e86e1ed24",
      "name": "WAHA5",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Presence",
        "operation": "Set Presence",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "presence": "typing",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        3540,
        2020
      ],
      "id": "93c81114-c280-4dfe-92ff-606f48fc045e",
      "name": "WAHA6",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3840,
        1640
      ],
      "id": "2f0527bd-4fbe-4f65-8223-36cb13c0ad43",
      "name": "Wait6",
      "webhookId": "599097fb-2b9a-40b1-a4a9-75a7e3c85640",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Gatilho",
        "height": 1240,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        940
      ],
      "typeVersion": 1,
      "id": "0cebcc56-ae14-4d7f-a736-5aba700d5337",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Mensagens de audio",
        "height": 620,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        1560
      ],
      "typeVersion": 1,
      "id": "5d175549-3b62-4b25-9779-d49c158f1bb5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Outros tipos de midia",
        "height": 620,
        "width": 840,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        1560
      ],
      "typeVersion": 1,
      "id": "91420eba-e955-4952-9c41-5ef553515be2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Mensagens de texto \n## Verifica se esta solicitando agendamento",
        "height": 600,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        940
      ],
      "typeVersion": 1,
      "id": "97b46bc3-008c-41db-8b49-ce18dcbc5ebd",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Identificação do tipo de mensagem",
        "height": 600,
        "width": 840,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        940
      ],
      "typeVersion": 1,
      "id": "93aa4114-0e03-4e25-ab5a-89978aa7e2bf",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Mensgaem sem solicitação de agendamento",
        "height": 620,
        "width": 800,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2180,
        1560
      ],
      "typeVersion": 1,
      "id": "ca722592-4531-43ba-a41c-385d9fa76153",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Identificação dos projetos associados ao numero de telefone",
        "height": 600,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2180,
        940
      ],
      "typeVersion": 1,
      "id": "1a6575eb-b603-47d4-88a8-12e755d87eba",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Resposta contato sem projeto associado",
        "height": 620,
        "width": 460,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3000,
        1560
      ],
      "typeVersion": 1,
      "id": "7b4e3a64-bf39-47c1-b46e-98f67f4817ec",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "#         Resposta para o cliente",
        "height": 620,
        "width": 820,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3480,
        1560
      ],
      "typeVersion": 1,
      "id": "66b9d873-df10-4b7e-b488-73bb93d0e3fd",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Divir a mensagem",
        "height": 600,
        "width": 820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3480,
        940
      ],
      "typeVersion": 1,
      "id": "4e72c05d-5bb8-4427-94a1-e7c52bc4d452",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "# Realizar agendamento",
        "height": 600,
        "width": 460,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3000,
        940
      ],
      "typeVersion": 1,
      "id": "0c45e2ea-e21e-4af4-9031-cc94a8f5e144",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Contact Vcard",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "contacts": "[\n  {\n    \"vcard\": \"BEGIN:VCARD\\nVERSION:3.0\\nFN:Pedreira Um Valemix\\nORG:Pedreira Um Valemix;\\nTEL;type=CELL;type=VOICE;waid=553138472200:+55 31 3847 2200\\nEND:VCARD\"\n  }\n]",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        2660,
        1920
      ],
      "id": "36e9672b-f72b-4229-b549-6295eb467092",
      "name": "WAHA9",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "\nreturn items.map(item => {\n  const originalLink = $input.first().json.Url;  // ou o nome da variável onde está o link\n\n  // Substitui 'localhost' por 'host.docker.internal'\n  const newLink = originalLink.replace('localhost', 'host.docker.internal');\n\n  // Coloca no JSON ou sobrescreve\n  item.json.download_link = newLink;  // ou sobrescreva: item.json.audio_link = newLink;\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1620,
        1940
      ],
      "id": "6e47f6e0-bf70-4061-b582-9b1a0de6bd64",
      "name": "Alterar caminho audio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8384e990-3649-460a-ae7c-6635413f9ff9",
              "name": "Url",
              "value": "={{ $('WAHA Trigger').item.json.payload.media.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1420,
        1940
      ],
      "id": "87ef2767-42c1-480d-bb98-20e1327849b7",
      "name": "Pegar caminho audio"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "audio",
        "destinationKey": "audio",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1980,
        1940
      ],
      "id": "6f542ef6-0c24-4e3a-a0fe-f1b96a5a31c2",
      "name": "Converter para base64"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "audio",
        "binaryPropertyName": "audio",
        "options": {
          "fileName": "audio.mp3",
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1420,
        1660
      ],
      "id": "0f8f1170-0c3b-459f-8fc5-80cc2a68f498",
      "name": "Converter para mp3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://integration.loop4.io/api/sync/orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n    {\n        \"order_code\": \"{plan_id}\",\n        \"delivery_date\": \"{data_entrega}\",\n        \"project_code\": \"{projectCode}\",\n        \"customer_code\": \"{customerCode}\",\n        \"address_code\": \"{addressCode}\",\n        \"status_code\": \"999\",\n        \"customer_notes\": \"{customer_notes}\",\n        \"order_products\": [\n\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"item_number\":1,\n\t\t\t\t\t\t\t\"product_code\": \"{productCode}\",\n\t\t\t\t\t\t\t\"quantity\": {data_quantidade},\n\t\t\t\t\t\t\t\"price\": {productPrice}\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t}\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        3340,
        1340
      ],
      "id": "416449f9-5034-4c8b-a1ff-42855ecf7f1e",
      "name": "Readymix",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cxexuqhR4R8NRjo6",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "n8n_historico-conversa",
          "mode": "list",
          "cachedResultName": "n8n_historico-conversa"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "MENSAGEM_CLIENTE",
              "value": "={{ $('Unir mensagem').item.json.msg }}"
            },
            {
              "column": "MENSAGEM_AGENTE",
              "value": "={{ $('Assist_IA').item.json.output }}"
            },
            {
              "column": "CLIENTE",
              "value": "={{ $('Formata_Telefone').item.json.from }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        4080,
        2020
      ],
      "id": "3844ab5b-0372-4b94-86c3-3fc590b362b9",
      "name": "MySQL1",
      "credentials": {
        "mySql": {
          "id": "8xVruJPTkQyMMoAx",
          "name": "MySQL N8N"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e776c823-25a8-4212-a78c-c30239bedf7f",
              "name": "msg",
              "value": "=ESTA É A CONVERSA:  {{ $('Captura_Mensagem').item.json.mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        1180
      ],
      "id": "226fe0ab-0761-42a3-81d1-cee95bf55d66",
      "name": "Mensagem texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f181f54-c3fe-4163-8a5c-5389f4867d6b",
              "name": "msg",
              "value": "=ESTA É A CONVERSA:  {{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1980,
        1660
      ],
      "id": "f2b8272b-1733-4cba-9cac-b0f20a7d32bf",
      "name": "Mensagem audio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ec02adf-6017-487c-9edb-a8e8bb9f5c17",
              "name": "msg",
              "value": "={{ $json.msg }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1620,
        1120
      ],
      "id": "e5acc69f-6e31-4351-914a-6720449d4b7e",
      "name": "Unir mensagem"
    },
    {
      "parameters": {
        "command": "ping google.com.br"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3720,
        1040
      ],
      "id": "f5e5cc2d-a608-4851-b41e-71a8a799b701",
      "name": "Execute Command"
    }
  ],
  "pinData": {},
  "connections": {
    "WAHA Trigger": {
      "main": [
        [],
        [
          {
            "node": "Ignora grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Formata_Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata_Telefone": {
      "main": [
        [
          {
            "node": "Loop_Project_ContactPhoneNumber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captura_Mensagem": {
      "main": [
        [
          {
            "node": "Marca_Visualizacao",
            "type": "main",
            "index": 0
          },
          {
            "node": "TipoMensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop_Project_ContactPhoneNumber": {
      "main": [
        [
          {
            "node": "identificação de contato da obra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Assist_IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Assist_IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Assist_IA": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "WAHA5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Resposta_Parte2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta_Parte1": {
      "main": [
        [
          {
            "node": "WAHA4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta_Parte2": {
      "main": [
        [
          {
            "node": "WAHA6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Resposta_Parte3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "WAHA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Assist_IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ignora grupo": {
      "main": [
        [],
        [
          {
            "node": "Captura_Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mysql_GerarID": {
      "ai_tool": [
        [
          {
            "node": "Assist_IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Mensagem texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pegar caminho audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TipoMensagem1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "identificação de contato da obra": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WAHA3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "WAHA2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar_Audio1": {
      "main": [
        [
          {
            "node": "Converter para base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Resposta_Parte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA2": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Resposta_Parte6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA3": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Resposta_Parte4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA4": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA5": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Resposta_Parte1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA6": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta_Parte": {
      "main": [
        [
          {
            "node": "WAHA9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Mensagem audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alterar caminho audio": {
      "main": [
        [
          {
            "node": "Baixar_Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegar caminho audio": {
      "main": [
        [
          {
            "node": "Alterar caminho audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter para base64": {
      "main": [
        [
          {
            "node": "Converter para mp3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter para mp3": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Readymix": {
      "ai_tool": [
        [
          {
            "node": "Assist_IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Resposta_Parte3": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem texto": {
      "main": [
        [
          {
            "node": "Unir mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem audio": {
      "main": [
        [
          {
            "node": "Unir mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir mensagem": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f437a98f-8c76-46fa-b8e0-b263c2df6bee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "badc5188b69000db68bb5a183789c429759caa0da80040090ad2ce1e9b217ea0"
  },
  "id": "TZTPGRlfkEKf5aAR",
  "tags": []
}