Fluxos/Assistente_de_Agendamento_de_Programacao.json
{
  "name": "Assistente de Agendamento de Programação",
  "nodes": [
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202502,
      "position": [
        -3140,
        100
      ],
      "id": "ab19821c-c061-4c60-a03d-7aa67b1c9886",
      "name": "WAHA Trigger",
      "webhookId": "64a2de0e-e41b-4597-9610-0d3084570a81"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ESTA É A CONVERSA: {{ $json.msg }}",
        "options": {
          "systemMessage": "=🎭 Função de assistente:\nVocê é um Assistente de Análise de Mensagens que avalia cada mensagem do cliente para determinar se ela precisa:\n\nFaça uma reserva ou agendamento de entrega.\nSua resposta determinará o fluxo em n8n:\n\n“VERDADEIRO” → O fluxo continua.\n\"FALSO\" → O fluxo termina.\n\n📜 Instruções:\nAnalise a mensagem do cliente.\nSe a mensagem mencionar uma reserva ou programação, cronograma de entrega, responda apenas com \"VERDADEIRO\".\n\nAvalie o avalie o historico das mensagens para determinar se o cliente mudou e deseja agendar ou realizar uma reserva. Retorne Verdadeiro caso tenha mudado de ideia.\n\nCaso a mensagem não mencione reserva ou agendamento responda apenas com “FALSO”.\nSe você já respondeu \"VERDADEIRO”, continue retornando \"TRUE\" em cada mensagem até que o assistente responsável termine seu processo em n8n.\nQuando o assistente responsável terminar, pare de responder \"TRUE\".\n\n⚠️ Regras:\nNão responda com outra palavra ou frase, apenas “VERDADEIRO” ou “FALSO”.\nNão explique nem confirme a resposta.\nNão altere “FALSE” para “TRUE” se a mensagem não contiver reserva ou agendamento.\n\n🔍 Exemplo de comportamento em n8n:\n<exemplo> \n👤 Cliente: “Quero agendar a entrega do meu material para amanhã.” \n🤖 Assistente: \"TRUE\" (o fluxo em n8n continua ao longo do caminho de reserva/reivindicação.)\n\n👤 Cliente: “Será à tarde”.\n🤖 Assistente: \"VERDADEIRO\" (Enquanto o assistente responsável ainda estiver em processo.)\n\n👤 Cliente: \"Meu nome é Márcio Azevedo.\"\n🤖 Assistente: \"VERDADEIRO\" (siga o processo.)\n\n👤 Cliente: \"Pronto, isso seria tudo.\" (O assistente em n8n termina.)\n🤖 Assistente: (para de responder \"VERDADEIRO\", o fluxo termina.)\n\n👤 Cliente: \"Olá, como vai?\"\n🤖 Assistente: “FALSO” (O fluxo em n8n termina aqui.)\n</exemplo>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1340,
        120
      ],
      "id": "1c24a395-a1d6-4025-9778-1aeb4fad32fe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1300,
        320
      ],
      "id": "b7f5b103-8081-43e2-8721-ccf2f1b90b2c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "P34Q5LzomCLBCF7A",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Captura_Mensagem').item.json.from }}",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        -1180,
        320
      ],
      "id": "71bde80d-963a-4cbf-922b-92fadf145c86",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "R3gMrcjTPNyFGMqg",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "65488564-5597-4a2c-af01-5f0d0cf99ea4",
              "leftValue": "={{ $json.output }}",
              "rightValue": "VERDADEIRO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -960,
        120
      ],
      "id": "a63c31d3-20fd-466f-8ebd-3a831e9323d6",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -740,
        120
      ],
      "id": "ebe8c1c6-9925-4616-8db4-cbbf181271e7",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3989ec24-1261-4f59-982b-72fd06198381",
              "name": "from",
              "value": "={{ $('Captura_Mensagem').item.json.from.substring(2,4) }}9{{ $('Captura_Mensagem').item.json.from.substring(4,12) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -580,
        120
      ],
      "id": "a1dde741-09b5-4188-83d9-4184669a864f",
      "name": "Formata_Telefone"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e065f4e-b646-47f4-8f62-4c009c10e2e5",
              "name": "session",
              "value": "={{ $json.session }}",
              "type": "string"
            },
            {
              "id": "a3676208-8493-466e-b2a9-8e885b39f338",
              "name": "from",
              "value": "={{ $json.payload.from }}",
              "type": "string"
            },
            {
              "id": "5f23231d-a6ef-48b3-9054-040167eb8868",
              "name": "mensagem",
              "value": "={{ $json.payload.body }}",
              "type": "string"
            },
            {
              "id": "d7bdbe94-1d95-4eaf-99fb-3ab202ca4706",
              "name": "id_mensagem",
              "value": "={{ $json.payload.id }}",
              "type": "string"
            },
            {
              "id": "a4bcff2c-16a7-4455-bf70-e8dc5ef2ad2a",
              "name": "messageType",
              "value": "={{ \n    $json.payload.hasMedia \n        ? ($json.payload.media.mimetype.startsWith(\"image\") \n            ? \"image\" \n            : ($json.payload.media.mimetype.startsWith(\"audio\") \n                ? \"audio\" \n                : \"other_media\")) \n        : \"text\"\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2460,
        280
      ],
      "id": "2a9a44dc-c06f-4129-bc0e-561a1a14353a",
      "name": "Captura_Mensagem"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "chatId": "={{ $json.from }}",
        "messageId": "={{ $json.id_mensagem }}",
        "participant": "",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -2280,
        140
      ],
      "id": "6152edb5-94d6-4812-a046-24ccbfa89077",
      "name": "Marca_Visualizacao",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://integration.readymix.io/api/sync/projects?contact_phone_number={{ $('Formata_Telefone').item.json.from }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -420,
        120
      ],
      "id": "06289ae1-09d3-4fe2-82af-c5db68a9e248",
      "name": "Loop_Project_ContactPhoneNumber",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cxexuqhR4R8NRjo6",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=mensagem: {{ $('Captura_Mensagem').item.json.mensagem }};\ndata e hora atuais: {{ $('Date & Time').item.json.currentDate }}\nnome do cliente: {{ $('WAHA Trigger').item.json.payload._data.pushName }}\n",
        "options": {
          "systemMessage": "=🎭 Papel do Assistente\nVocê é o Celim, assistente virtual especializado em logística do Pedreira Um Valemix, empresa que atua no setor de Concretos Pré-Misturados, \ncontando com uma moderna frota de caminhões betoneira e bomba-lança, bem como laboratórios que realizam o controle tecnológico do concreto. \nEstruturada para produzir o concreto que o cliente desejar, a Valemix dispõe de uma equipe de assistentes técnico-comerciais que visitam as obras, \ncoletando todas as informações necessárias a um perfeito atendimento. \nSua principal função é atuar como intermediário entre os clientes e a equipe de logística, garantindo que:\n\nCumprimentar de forma adequada ao contexto, mantendo um tom respeitoso e natural.\nVocê imita a maneira de falar e escrever da pessoa que estava atendendo o cliente antes de agir. Se o cliente usar linguagem formal, ela permanece a mesma. \nSe ele usar abreviaturas ou um tom mais descontraído, adapte.\nOriente o cliente através do processo apropriado com base em sua solicitação.\nMantenha a consistência na comunicação para que a transição entre humano e assistente seja imperceptível.\n\nSe o cliente enviar todas as informações de uma só vez ou antecipar informações das etapas seguintes, NÃO faça as perguntas correspondentes novamente. Em vez disso, extraia, valide e siga para a próxima etapa.\n\n🛑 Antes de iniciar o fluxo:\n\n- Analise a mensagem recebida e veja se o cliente já informou algum dos seguintes dados:  \n    - Projeto  \n    - Data de entrega  \n    - Hora de entrega  \n    - Quantidade  \n    - Tipo de concreto  \n    - Tipo de serviço de descarga  \n\n- Se o dado estiver presente, armazene no campo correspondente e NÃO faça a pergunta.\n\n- Se algum dado não estiver presente, faça a pergunta conforme o fluxo abaixo.\n\n- Sempre confirme todos os dados antes de registrar.\n\n- Nunca repita uma pergunta para um dado que já foi informado.\n\n\n\n📌 Etapa 1: Identificação do Projeto.\n\nProjetos associados ao cliente: \n{{ $('Code2').item.json.projetos.map((p, i) => \n\n`${i + 1}. Projeto: ${p.projectName} \n\tCodigo do Projeto: ${p.projectCode}\n\tCodigo do Cliente: ${p.customerCode}\n\tCodigo do Endereço: ${p.addressCode}\n    Endereço Completo: ${p.addressFull}\n    Traços: \n${p.products\n  .filter(t => t.productCode.startsWith(\"C\"))\n  .map((t, x) => \n`       ${x + 1}. Traço: ${t.productName}\n          Codigo: ${t.productCode}\n          Preço: ${t.productPrice}`).join('\\n')}\n\n\n    Serviço de descarga: \n        1. Nome: Convencional\n          Codigo: 0\n          Preço: 0\n${p.products\n  .filter(b => b.productCode.startsWith(\"B\"))\n  .map((b, x) => \n`       ${x + 2}. Nome: ${b.productName}\n          Codigo: ${b.productCode}\n          Preço: ${b.productPrice}`).join('\\n')}` \n).join('\\n\\n') }}\n\nQuando for responder ao cliente liste somente os nomes dos projetos, os demais dados serão usados somente em {placeholder}, não precisa informar para o cliente.\nSempre listar os projetos quando tiver mais de um.\nSe houver apenas um projeto associado, não pergunte ao cliente. Informe qual será usado e siga automaticamente para a próxima etapa.\n\n1️⃣ Caso o cliente tenha projetos cadastrados → Peça para ele selecionar o projeto.\n\nSempre listar os projetos quando tiver mais de um.\n\nApos selecionar armazene o nome em [data_projectname], o codigo em [data_projectcode]\n\nConsiderar o fluxo da programação em questão somente os dados do projeto selecionado.\n\n2️⃣ Caso não tenha projetos cadastrados solicite que entre em contato com o vendedor.\n\n\n📌 Etapa 2: Coleta de dados.\nSolicite as seguintes informações:\n\n1️⃣ Data da entrega (data_entrega)\n🗓️ “Até que data você precisa receber o material?” \n\n(Verifique se é posterior à data atual.)\n\n(Salve a data e hora no  {placeholder} no formato americado YYYY-MM-DD HH:MM:SS e quando for exibir para o usuário na confirmação ultilize o formato brasileiro DD-MM-YYYY HH:MM:SS.)\n\n2️⃣ Prazo de entrega (data_hora)\n⏰ \"A que horas deseja receber o pedido?\"\n\n3️⃣ Quantidade em metros cúbicos (data_quantidade)\n🏗️ \"Quantos metros cúbicos você precisa?\"\n\n4️⃣ Tipo de concreto (data_produto)\n🔎 Usar os produtos associado ao contrato selecionado, Liste enumerado.\n\nSalvar o preço do produto selecionado em (productPrice)\n\nSe houver apenas um traço, apenas informe ao cliente qual será utilizado e siga automaticamente para a próxima etapa.\n\nE lembre-se: quando for mostrar ao cliente, não exibir código ou preço, conforme já está na regra.\n\n\n5️⃣ \"Tipo de serviço de descarga? 🚛\"\n\nListe os serviços de descarga associado ao projeto selecionado.\n\nNão informar codigo do produto e preço.\n\nSe houver apenas um serviço de descarga, apenas informe ao cliente qual será utilizado e siga automaticamente para a próxima etapa.\n\n\n📌 Etapa 3:Confirme com o cliente:\n\nVou lhe dar um resumo do seu pedido:\n\n📆 Entrega: [data_entrega] \n🕒 Hora: [data_hora]\n📍 Localização: [addressFull]\n📦 Quantidade: [data_quantidade] m³\n🏗️ Concreto: [data_produto]\n🚛 Serviço de Bomba: [data_servico]\n📌 ID do pedido: [plan_id]\n\n\"Está tudo bem ou você quer modificar alguma coisa?\"\n\n\n📌 Etapa 4: Registre o pedido.\n\nCaso o cliente confirme, registre as informações. Para inserir os dados no banco de dados, utilize a ferramenta \"Readymix_Convencional\" caso não tenha serviço de bomba ou caso tenha ultilize a ferramenta  \"Readymix_Bombeavel\".\n\nQuando for registrar o pedido ultilize o tool Mysql_GerarID para gerar um [plan_id].\n\n✅ Use emojis para deixar a conversa mais clara.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        540,
        60
      ],
      "id": "ff38a9a0-8674-4479-80ed-b2738f916eca",
      "name": "Assist_IA"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        280
      ],
      "id": "b135f455-c62f-4ed8-a3bc-a227a5c44b7d",
      "name": "OpenAI Chat Model1",
      "notesInFlow": false,
      "credentials": {
        "openAiApi": {
          "id": "P34Q5LzomCLBCF7A",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Captura_Mensagem').item.json.from }}",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        520,
        400
      ],
      "id": "f779e699-9dbd-48a2-aa6d-1314c7483958",
      "name": "Redis Chat Memory1",
      "credentials": {
        "redis": {
          "id": "R3gMrcjTPNyFGMqg",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        120
      ],
      "id": "e3083fbc-affd-4d07-b544-a1dda431c2ef",
      "name": "Code1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Resposta a formatar:  {{ $json.output }}",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1280,
        120
      ],
      "id": "3e359f34-618a-4351-9133-6b706e95510f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {
          "prompt": "Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        1380,
        360
      ],
      "id": "66cf6347-cb68-49e8-8047-60df7e581615",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1200,
        300
      ],
      "id": "3873ddcc-863a-4d06-b240-92653eea7b22",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "P34Q5LzomCLBCF7A",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"resposta\": \n    {\n      \"parte_1\": \"Conteúdo da primeira parte da resposta.\",\n      \"parte_2\": \"Conteúdo da segunda parte da resposta.\",\n      \"parte_3\": \"Conteúdo da terceira parte da resposta. (Opcional)\"\n    }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1600,
        540
      ],
      "id": "aae4a43c-9c04-47e7-aa5f-a834f23f05ec",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1340,
        540
      ],
      "id": "bd1a94f8-a6f9-4a97-9d09-50357622842f",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "P34Q5LzomCLBCF7A",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2080,
        340
      ],
      "id": "3d13d523-4da9-445e-9b68-e64d6fe0b44a",
      "name": "Wait",
      "webhookId": "599097fb-2b9a-40b1-a4a9-75a7e3c85640"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "text": "={{ $('Basic LLM Chain').item.json.output.resposta.parte_1 }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        2260,
        120
      ],
      "id": "15bdb09c-7739-47fb-ba6a-0593a10b78c7",
      "name": "Resposta_Parte1",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "text": "={{ $('Basic LLM Chain').item.json.output.resposta.parte_2 }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        2260,
        340
      ],
      "id": "f217add1-706e-4eea-9b47-2ef8526fb953",
      "name": "Resposta_Parte2",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2080,
        540
      ],
      "id": "b378a8f1-05d5-4695-a75e-1173e54cce81",
      "name": "Wait1",
      "webhookId": "785ebcd2-5b09-476b-839d-3c1a3ed24e38"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "text": "={{ $('Basic LLM Chain').item.json.output.resposta.parte_3 }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        2280,
        540
      ],
      "id": "712b57e2-0b51-447f-a1c4-26af0399a55f",
      "name": "Resposta_Parte3",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "text": "={{ $('AI Agent1').item.json.output }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -140,
        560
      ],
      "id": "5edb5474-c907-4314-b543-4928b86cffd5",
      "name": "Resposta_Parte",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ESTA É A CONVERSA: {{ $('Captura_Mensagem').item.json.mensagem }}",
        "options": {
          "systemMessage": "=🎭 Papel do Assistente\nVocê é o Celim, assistente virtual do grupo Pedreira Um Valemix.\n\nMantenha a consistência na comunicação para que a transição entre humano e assistente seja imperceptível.\n\nContinue a conversa respondendo a bom dia ou ola dependendo da mensagem\n\nPergunte de forma educada se deseja agendar entrega de concreto.\n\nCaso seja outro assunto oriente entrar em contato no telefone (31) 3847 2200\n\nFormate o texto com quebra de linha, mantendo uma conversa mais amigavel de ler. ULtilize emojis."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -720,
        560
      ],
      "id": "2b6fa513-b470-4f63-8264-a28fa629c47e",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -740,
        720
      ],
      "id": "b5238574-0593-4267-bd1a-4dc062e1cdf7",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "P34Q5LzomCLBCF7A",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Captura_Mensagem').item.json.from }}",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        -620,
        800
      ],
      "id": "603aa3e1-36bc-4ffe-978c-8eb1d84b79ad",
      "name": "Redis Chat Memory2",
      "credentials": {
        "redis": {
          "id": "R3gMrcjTPNyFGMqg",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const projetos = items.flatMap(item => {\n  return item.json.data.page_items.map(p => {\n    return {\n      projectName: p.name,\n      projectCode: p.code,\n      customerName: p.customer.name,\n      customerCode: p.customer.code,\n      customerDocument: p.customer.document,\n      addressCode: p.address.code,\n      addressStreet: p.address.address_street,\n      addressNumber: p.address.address_number,\n      addressDistrict: p.address.address_district,\n      addressComplement: p.address.address_complement,\n      addressPostal: p.address.postal_code,\n      addressFull: p.address.address_full,\n      addressState: p.address.state,\n      addressCity: p.address.city_name,\n      fav_plant: p.fav_plant,\n      products: p.project_product.map(t =>{\n      return{\n        productCode: t.product.code,\n        productName: t.product.name,\n        productPrice: t.price\n      }\n      })\n      \n    };\n  });\n});\n\nreturn [\n  {\n    json: {\n      projetos: projetos\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        100
      ],
      "id": "0ccd6d25-4867-4724-a41f-00c5327a11b9",
      "name": "Code2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "56e40aa3-df03-4a85-80cc-be68db3411a4",
              "leftValue": "={{ $json.payload.participant }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "cd4610d8-6a41-4ef7-99bd-15462a9a532b",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2680,
        280
      ],
      "id": "37944014-e383-439b-97c0-deb7c1b43353",
      "name": "Ignora grupo"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO n8n_pedidos (NOME) VALUES('TESTE');\n\nSELECT CONCAT('V', LPAD(CODIGO, 6, '0')) id FROM n8n_pedidos ORDER BY CODIGO DESC LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.4,
      "position": [
        640,
        440
      ],
      "id": "acb5609f-973a-4805-8a91-be7c02f8b9f8",
      "name": "Mysql_GerarID",
      "credentials": {
        "mySql": {
          "id": "8xVruJPTkQyMMoAx",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://integration.loop4.io/api/sync/orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n    {\n        \"order_code\": \"{plan_id}\",\n        \"delivery_date\": \"{data_entrega}\",\n        \"project_code\": \"{projectCode}\",\n        \"customer_code\": \"{customerCode}\",\n        \"address_code\": \"{addressCode}\",\n        \"status_code\": \"999\",\n        \"order_products\": [\n\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"item_number\":1,\n\t\t\t\t\t\t\t\"product_code\": \"{productCode}\",\n\t\t\t\t\t\t\t\"product_name\": \"{productName}\",\n\t\t\t\t\t\t\t\"quantity\": {data_quantidade},\n\t\t\t\t\t\t\t\"price\": {productPrice}\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t}\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        780,
        400
      ],
      "id": "1c85557e-1e76-4590-855f-582c37a67854",
      "name": "Readymix_Convencional",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cxexuqhR4R8NRjo6",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://integration.loop4.io/api/sync/orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n    {\n        \"order_code\": \"{plan_id}\",\n        \"delivery_date\": \"{data_entrega}\",\n        \"project_code\": \"{projectCode}\",\n        \"customer_code\": \"{customerCode}\",\n        \"address_code\": \"{addressCode}\",\n        \"status_code\": \"999\",\n        \"order_products\": [\n\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"item_number\":1,\n\t\t\t\t\t\t\t\"product_code\": \"{productCode}\",\n\t\t\t\t\t\t\t\"product_name\": \"{productName}\",\n\t\t\t\t\t\t\t\"quantity\": {data_quantidade},\n\t\t\t\t\t\t\t\"price\": {productPrice}\n\t\t\t\t\t},\n\t\t\t\t\t{ \n\t\t\t\t\t\t\t\"item_number\":2,\n\t\t\t\t\t\t\t\"product_code\": \"{data_servico_codigo}\",\n\t\t\t\t\t\t\t\"product_name\": \"{data_servico_nome}\",\n\t\t\t\t\t\t\t\"quantity\": {data_quantidade},\n\t\t\t\t\t\t\t\"price\": {data_servico_preco}\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t}\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        900,
        300
      ],
      "id": "afac8c95-61b1-4eff-a9cd-a0c1ddc27d2a",
      "name": "Readymix_Bombeavel",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cxexuqhR4R8NRjo6",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.debugMessageType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7bfab073-e0ca-4d36-9e2a-817378e450a9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "615af114-9e88-4495-90d8-aceedd03a643",
                    "leftValue": "={{ $json.debugMessageType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e92e8ff9-cc7d-44a5-8e57-f6cb5fab020d",
                    "leftValue": "={{ $json.debugMessageType }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "51902449-461a-4875-a52b-024d21dea546",
                    "leftValue": "={{ $json.debugMessageType }}",
                    "rightValue": "other_media",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outro"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2460,
        560
      ],
      "id": "b1698b85-8d9b-4ca9-b539-aaa2557fd8f5",
      "name": "Switch1",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "text": "={{ $('AI Agent2').item.json.output }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -1060,
        1100
      ],
      "id": "e82991ff-cb53-4e35-9bb8-4e8728b69c18",
      "name": "Resposta_Parte6",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a96e6489-94a1-44c0-a991-dcd6515596e3",
              "name": "debugMessageType",
              "value": "={{ $('Captura_Mensagem').item.json.messageType.replace(/\\n/g, \"\").trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2660,
        580
      ],
      "id": "97c967ea-e8f6-4e7a-a47b-0afac6f1b90e",
      "name": "TipoMensagem1"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "text": "=Ola {{ $('WAHA Trigger').item.json.payload._data.pushName }}!\nAgradecemos o seu contato.\nVerificamos em nosso sistema e, até o momento, não localizamos nenhum projeto vinculado ao número de telefone informado como contato da obra.\nPara que possamos te auxiliar da melhor forma, orientamos que entre em contato diretamente com o seu vendedor responsável.\n\nSeguimos à disposição!",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        840,
        720
      ],
      "id": "083a6a99-da49-49c9-afd5-96e6df09eddf",
      "name": "Resposta_Parte4",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1b8b8d23-7c82-4891-bbdf-2e2ee71eaac2",
              "leftValue": "={{ $json.data.total_items }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -180,
        120
      ],
      "id": "42c111aa-81a7-492a-afcd-6bf38234d94d",
      "name": "identificação de contato da obra"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ESTA É A CONVERSA: {{ $('Captura_Mensagem').item.json.mensagem }}",
        "options": {
          "systemMessage": "=A mensagem foi enviado em um formato que o agente não reconhece, responda informando ao cliente semelhante ao exemplo abaixo:\n\nNo momento não consigo entender esse tipo de mensagem. \nPoderia, por gentileza, enviá-la por escrito para que eu possa ajudá-lo da melhor forma?"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1760,
        1080
      ],
      "id": "145796f8-57b0-4de6-ae31-70b61fff526e",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1800,
        1240
      ],
      "id": "855179df-0ef4-4b18-8519-ff3158c4494e",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "P34Q5LzomCLBCF7A",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Captura_Mensagem').item.json.from }}",
        "sessionTTL": 60,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        -1640,
        1260
      ],
      "id": "9d17fb41-5682-411d-bca7-bc6a40095cc8",
      "name": "Redis Chat Memory3",
      "credentials": {
        "redis": {
          "id": "R3gMrcjTPNyFGMqg",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.download_link }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1400,
        760
      ],
      "id": "b1f4448c-5210-4def-a8ad-c08087299ffe",
      "name": "Baixar_Audio1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1760,
        560
      ],
      "id": "5adc9bbd-73b8-4bc7-be45-0db34a55fa90",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "P34Q5LzomCLBCF7A",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -280,
        560
      ],
      "id": "dcbdc677-e607-46d1-90f8-e99c1e91a883",
      "name": "Wait2",
      "webhookId": "1c1fc343-ee9e-4749-93da-9d87093f8a91"
    },
    {
      "parameters": {
        "resource": "Presence",
        "operation": "Set Presence",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "presence": "typing",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -420,
        560
      ],
      "id": "23871b6a-5c20-4364-9e30-325d96fda3c4",
      "name": "WAHA1",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1220,
        1100
      ],
      "id": "a45a2f78-3b25-4036-a344-28138e478eda",
      "name": "Wait3",
      "webhookId": "1c1fc343-ee9e-4749-93da-9d87093f8a91"
    },
    {
      "parameters": {
        "resource": "Presence",
        "operation": "Set Presence",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "presence": "typing",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -1380,
        1100
      ],
      "id": "c7f58dbe-5b5f-417f-8d69-8da8db5fc44a",
      "name": "WAHA2",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        620,
        720
      ],
      "id": "90a7972f-da15-4421-863a-793c2cdf5ed9",
      "name": "Wait4",
      "webhookId": "1c1fc343-ee9e-4749-93da-9d87093f8a91"
    },
    {
      "parameters": {
        "resource": "Presence",
        "operation": "Set Presence",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "presence": "typing",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        400,
        720
      ],
      "id": "060cd4ae-85a9-4cdd-abd4-1294cd48f823",
      "name": "WAHA3",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Presence",
        "operation": "Set Presence",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "presence": "typing",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1880,
        340
      ],
      "id": "c9467830-ea8e-4f15-abb0-37a5404b162b",
      "name": "WAHA4",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Presence",
        "operation": "Set Presence",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "presence": "typing",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1860,
        120
      ],
      "id": "4b95e588-3be5-4389-98ce-810e6d6ffda5",
      "name": "WAHA5",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Presence",
        "operation": "Set Presence",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "presence": "typing",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1860,
        540
      ],
      "id": "e4077bea-d337-4d11-9a30-319af2d392ab",
      "name": "WAHA6",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2080,
        120
      ],
      "id": "2fb0c6c7-7e8d-44fb-b3a4-476a4262c4ce",
      "name": "Wait6",
      "webhookId": "599097fb-2b9a-40b1-a4a9-75a7e3c85640"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Buttons",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -2420,
        960
      ],
      "id": "4b824843-77a0-427e-9d1d-42274abee99e",
      "name": "WAHA7",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Image",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -2660,
        960
      ],
      "id": "cffab392-b3e0-491e-91bf-901e05aa42c7",
      "name": "WAHA8",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Gatilho",
        "height": 1240,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3220,
        0
      ],
      "typeVersion": 1,
      "id": "235b676a-78b1-4c55-a397-0258fe18de8d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Mensagens de audio",
        "height": 500,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1860,
        460
      ],
      "typeVersion": 1,
      "id": "878b300e-6934-4587-b316-21a5191ab7e6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Outros tipos de midia",
        "height": 400,
        "width": 1040,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1860,
        980
      ],
      "typeVersion": 1,
      "id": "e79d400f-b929-4b52-9023-22abb1d07406",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "\n![Source example](https://pedreiraumvalemix.com.br/logo/PedreiraUmValemix_Vert.png#full-width)",
        "height": 920,
        "width": 1340,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3220,
        -940
      ],
      "typeVersion": 1,
      "id": "7e261ad0-a2ff-4ddc-9d9c-547878d0dfb9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Mensagens de texto \n## Verifica se esta solicitando agendamento",
        "height": 440,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1860,
        0
      ],
      "typeVersion": 1,
      "id": "7031a6aa-949b-4161-b4b3-f9266441ee21",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Identificação do tipo de mensagem",
        "height": 780,
        "width": 840,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2720,
        0
      ],
      "typeVersion": 1,
      "id": "1d836ece-592e-4100-8fe6-0f11123e142d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Mensgaem sem solicitação de agendamento",
        "height": 500,
        "width": 1020,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        460
      ],
      "typeVersion": 1,
      "id": "79074f96-9ee0-4a44-a866-cca21f438d18",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Identificação dos projetos associados ao numero de telefone",
        "height": 440,
        "width": 1020,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        0
      ],
      "typeVersion": 1,
      "id": "a389fac9-69c3-42aa-9c6d-99bb236eb7f9",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Resposta contato sem projeto associado",
        "height": 500,
        "width": 800,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        600
      ],
      "typeVersion": 1,
      "id": "48ce2695-3beb-458c-b4ff-74a40920a27c",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "# Resposta para o cliente",
        "height": 760,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1800,
        0
      ],
      "typeVersion": 1,
      "id": "08e1d173-32c4-47ba-a3a7-62b965e690f6",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Divir a mensagem",
        "height": 760,
        "width": 720,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1060,
        0
      ],
      "typeVersion": 1,
      "id": "2cd217c3-dc84-4144-b348-ac8f5e1a8dd6",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "# Realizar agendamento",
        "height": 580,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        0
      ],
      "typeVersion": 1,
      "id": "8ccee2b5-7afb-4e63-8d15-09a91d0e6f97",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Contact Vcard",
        "session": "={{ $('Captura_Mensagem').item.json.session }}",
        "chatId": "={{ $('Captura_Mensagem').item.json.from }}",
        "contacts": "[\n  {\n    \"vcard\": \"BEGIN:VCARD\\nVERSION:3.0\\nFN:Pedreira Um Valemix\\nORG:Pedreira Um Valemix;\\nTEL;type=CELL;type=VOICE;waid=553138472200:+55 31 3847 2200\\nEND:VCARD\"\n  }\n]",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        0,
        560
      ],
      "id": "0b6fcd3d-2259-4a4d-a76f-9fb7f144bf95",
      "name": "WAHA9",
      "credentials": {
        "wahaApi": {
          "id": "x51fih2shQhRra4Q",
          "name": "WAHA account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f181f54-c3fe-4163-8a5c-5389f4867d6b",
              "name": "msg",
              "value": "=ESTA É A CONVERSA:  {{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        560
      ],
      "id": "54f39b82-a9dd-4c11-b069-b40d5793de47",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e776c823-25a8-4212-a78c-c30239bedf7f",
              "name": "msg",
              "value": "=ESTA É A CONVERSA:  {{ $('Captura_Mensagem').item.json.mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        140
      ],
      "id": "a6823597-d1f5-4fe0-9037-3fd1fc03c674",
      "name": "Captura mensagem"
    },
    {
      "parameters": {
        "jsCode": "\nreturn items.map(item => {\n  const originalLink = $input.first().json.Url;  // ou o nome da variável onde está o link\n\n  // Substitui 'localhost' por 'host.docker.internal'\n  const newLink = originalLink.replace('localhost', 'host.docker.internal');\n\n  // Coloca no JSON ou sobrescreve\n  item.json.download_link = newLink;  // ou sobrescreva: item.json.audio_link = newLink;\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1560,
        760
      ],
      "id": "3cc314ef-fdc8-42a8-9c42-f8065ebfbfe3",
      "name": "Alterar caminho audio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8384e990-3649-460a-ae7c-6635413f9ff9",
              "name": "Url",
              "value": "={{ $('WAHA Trigger').item.json.payload.media.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1740,
        760
      ],
      "id": "dfaf59d8-f7ef-4c6d-be59-148452f2278d",
      "name": "Pegar caminho audio"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "audio",
        "destinationKey": "audio",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1220,
        760
      ],
      "id": "e9aa663d-79e4-403f-b246-25d0b1ec8596",
      "name": "Converter para base64"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "audio",
        "binaryPropertyName": "audio",
        "options": {
          "fileName": "audio.mp3",
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1040,
        760
      ],
      "id": "26157db4-5dc4-43e8-8d75-8a834367463a",
      "name": "Converter para mp3"
    }
  ],
  "pinData": {},
  "connections": {
    "WAHA Trigger": {
      "main": [
        [],
        [
          {
            "node": "Ignora grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Formata_Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata_Telefone": {
      "main": [
        [
          {
            "node": "Loop_Project_ContactPhoneNumber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captura_Mensagem": {
      "main": [
        [
          {
            "node": "Marca_Visualizacao",
            "type": "main",
            "index": 0
          },
          {
            "node": "TipoMensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop_Project_ContactPhoneNumber": {
      "main": [
        [
          {
            "node": "identificação de contato da obra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Assist_IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Assist_IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Assist_IA": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "WAHA5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Resposta_Parte2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta_Parte1": {
      "main": [
        [
          {
            "node": "WAHA4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta_Parte2": {
      "main": [
        [
          {
            "node": "WAHA6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Resposta_Parte3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "WAHA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Assist_IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ignora grupo": {
      "main": [
        [],
        [
          {
            "node": "Captura_Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mysql_GerarID": {
      "ai_tool": [
        [
          {
            "node": "Assist_IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Readymix_Convencional": {
      "ai_tool": [
        [
          {
            "node": "Assist_IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Readymix_Bombeavel": {
      "ai_tool": [
        [
          {
            "node": "Assist_IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Captura mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pegar caminho audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TipoMensagem1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "identificação de contato da obra": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WAHA3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "WAHA2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar_Audio1": {
      "main": [
        [
          {
            "node": "Converter para base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Resposta_Parte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA2": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Resposta_Parte6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA3": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Resposta_Parte4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA4": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA5": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Resposta_Parte1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA6": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta_Parte": {
      "main": [
        [
          {
            "node": "WAHA9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA7": {
      "main": [
        []
      ]
    },
    "WAHA8": {
      "main": [
        []
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captura mensagem": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alterar caminho audio": {
      "main": [
        [
          {
            "node": "Baixar_Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegar caminho audio": {
      "main": [
        [
          {
            "node": "Alterar caminho audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter para base64": {
      "main": [
        [
          {
            "node": "Converter para mp3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter para mp3": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a77cf46e-34f5-43e3-9a0e-d242ff17fed1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "badc5188b69000db68bb5a183789c429759caa0da80040090ad2ce1e9b217ea0"
  },
  "id": "NC8Jo46xkpy0EILJ",
  "tags": []
}